In [2]:
import pandas as pd
from pathlib import Path

In [3]:
# File to Load 
food_event_df = Path("food_df.csv")

In [4]:
#Read Food Data File and store into Pandas DataFrames
food_df = pd.read_csv(food_event_df)
food_df.head()

C:\Users\macks\AppData\Local\Temp\ipykernel_50588\3324046647.py:2: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  food_df = pd.read_csv(food_event_df)

,role,name_brand,industry_code,industry_name,report_number,consumer_age,consumer_age_unit,consumer_gender,date_created,date_started,outcomes,reactions
0,SUSPECT,ORE IDA GOLDEN CRINKLES FRENCH FRIES,25,Vegetables/Vegetable Products,100871,4,year(s),Male,20080220.0,20080220,['Visited a Health Care Provider'],"['ABDOMINAL PAIN', 'CHILLS', 'DEFAECATION URGE..."
1,CONCOMITANT,TYSON FAMILY CHICKEN NUGGETS,17,"Meat, Meat Products and Poultry",100871,4,year(s),Male,20080220.0,20080220,['Visited a Health Care Provider'],"['ABDOMINAL PAIN', 'CHILLS', 'DEFAECATION URGE..."
2,CONCOMITANT,TYSON BUFFALO STYLE CHICKEN BREAST STRIPS,17,"Meat, Meat Products and Poultry",100871,4,year(s),Male,20080220.0,20080220,['Visited a Health Care Provider'],"['ABDOMINAL PAIN', 'CHILLS', 'DEFAECATION URGE..."
3,SUSPECT,CENTRUM SILVER MULTIVITAMIN MULTIMINERAL SUPPL...,54,Vit/Min/Prot/Unconv Diet(Human/Animal),101614,NaN,NaN,NaN,20080325.0,NaN,"['Other Serious or Important Medical Event', '...",['CEREBROVASCULAR ACCIDENT']
4,SUSPECT,VITAMIN WORLD TRIPLE STRENGTH JOINT SOOTHER,54,Vit/Min/Prot/Unconv Diet(Human/Animal),104879,44,year(s),Female,20080718.0,NaN,"['Other Serious or Important Medical Event', '...","['DYSPNOEA', 'FACE OEDEMA', 'HYPERSENSITIVITY'..."

In [7]:
# Convert the 'date_started' column to datetime
food_df['date_started'] = pd.to_datetime(food_df['date_started'], format='%Y%m%d')

# Extract the year and create a new column
food_df['Year'] = food_df['date_started'].dt.year

# Assuming 'df' is your DataFrame and 'year' is the column with the year
food_df['Year'] = food_df['Year'].astype(str).str.split('.').str[0].astype(int, errors="ignore")
food_df.head()

ValueError: time data "['Other Serious or Important Medical Event']" doesn't match format "%Y%m%d", at position 36. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [8]:
#Value count for Genders affected
total_affected = food_df["consumer_gender"].value_counts()
print(total_affected)

consumer_gender
Female          152915
Male             44243
Unknown             95
Not Reported        42
20110627             1
Name: count, dtype: int64

In [64]:
#Value count for industry Name
foods_affected = food_df["industry_name"].value_counts()
print(foods_affected)

industry_name
Vit/Min/Prot/Unconv Diet(Human/Animal)          84651
Cosmetics                                       78051
Nuts/Edible Seed                                 5428
Vegetables/Vegetable Products                    4489
Soft Drink/Water                                 3330
Bakery Prod/Dough/Mix/Icing                      3309
Fruit/Fruit Prod                                 3039
Fishery/Seafood Prod                             2831
Cereal Prep/Breakfast Food                       2281
Dietary Conventional Foods/Meal Replacements     2233
Milk/Butter/Dried Milk Prod                      1884
Mult Food Dinner/Grav/Sauce/Special              1523
Snack Food Item                                  1426
Baby Food Products                               1408
Coffee/Tea                                       1152
Ice Cream Prod                                   1071
Candy W/O Choc/Special/Chew Gum                  1042
Choc/Cocoa Prod                                   967
Powder Formula                                    592
Prep Salad Prod                                   564
Food Additives (Human Use)                        557
Cheese/Cheese Prod                                512
Whole Grain/Milled Grain Prod/Starch              484
Spices, Flavors And Salts                         448
Dressing/Condiment                                406
Egg/Egg Prod                                      377
Soup                                              340
Food Sweeteners (Nutritive)                       317
Filled Milk/Imit Milk Prod                        312
Meat, Meat Products and Poultry                   306
Macaroni/Noodle Prod                              258
Beverage Bases/Conc/Nectar                        199
Medical Foods, N.E.C.                             176
Vegetable Oils                                    162
Vegetable Protein Prod                            123
Gelatin/Rennet/Pudding Mix/Pie Filling            121
Alcoholic Beverage                                 63
Miscellaneous Food Related Items                   50
Ready to Serve Formula                             41
Color Additiv Food/Drug/Cosmetic                   38
Formula, Form Unspecified                          14
Food Service/Conveyance                            14
Liquid Concentrate Formula                         10
Formula Raw Material                                7
Name: count, dtype: int64

In [65]:
#Value count for industry code
indus_code_affected = food_df["industry_code"].value_counts()
print(indus_code_affected)

industry_code
54     84651
53     78051
23      5428
29      3330
3       3309
24      2911
16      2831
5       2281
41      2233
9       1884
20      1644
25      1578
37      1523
7       1426
40      1408
31      1152
13      1071
21      1067
33      1042
34       967
40P      592
39       564
12       512
45       508
2        484
28       448
27       406
15       377
38       340
22       328
36       317
14       312
17       306
4        258
30       199
41G      176
26       162
18       123
35       121
32        63
52        50
46        49
40N       41
50        38
40C       14
51        14
40O       10
40M        7
Name: count, dtype: int64

In [66]:
role_tag_affected = food_df["role"].value_counts()
print(role_tag_affected)

role
SUSPECT        174737
CONCOMITANT     31869
Name: count, dtype: int64

In [ ]:
#Create new dataframe for products that resulted in Death
death_count = food_df['reactions'].str.contains('death').sum()
print(death_count)
death_df = food_df[food_df['reactions'].str.contains('death')]
death_df.head()

159

,role,name_brand,industry_code,industry_name,report_number,consumer_age,consumer_age_unit,consumer_gender,date_created,date_started,outcomes,reactions,year_started,Year
706,SUSPECT,KRATOM,54,Vit/Min/Prot/Unconv Diet(Human/Animal),2019-CFS-006544,20.0,year(s),Male,20190625,2019-06-01,"['Life Threatening', 'Hospitalization', 'Visit...","['Alopecia', 'Apparent death', 'Drug dependenc...",2019.0,2019
2598,SUSPECT,SCHIFF MOVE FREE ADVANCE TRIPLE STRENGTH TOTAL...,54,Vit/Min/Prot/Unconv Diet(Human/Animal),171217,NaN,NaN,Female,20131018,NaT,"['Hospitalization', 'Other Serious or Importan...","['Abdominal discomfort', 'Abdominal distension...",NaN,nan
4278,SUSPECT,ONE A DAY MEN'S HEALTH,54,Vit/Min/Prot/Unconv Diet(Human/Animal),2018-CFS-014777,NaN,NaN,Male,20181219,NaT,['Other Serious or Important Medical Event'],"['Apparent death', 'Foreign body']",NaN,nan
4818,SUSPECT,SIMILAC PRO SENSITIVE,40P,Powder Formula,2022-CFS-014372,NaN,NaN,NaN,20220318,NaT,['Death'],"['Death', 'Sudden infant death syndrome']",NaN,nan
6222,CONCOMITANT,Calcium,54,Vit/Min/Prot/Unconv Diet(Human/Animal),2018-CFS-000236,NaN,NaN,Male,20180106,2016-05-30,"['Death', 'Hospitalization', 'Disability', 'Vi...","['Asthenia', 'Cognitive disorder', 'Cough', 'C...",2016.0,2016

In [13]:
#total count of all Null values across entire dataset ( every column )
null_count = food_df.isnull().sum()
print(f"The total amount of null and NaN values in the column is {null_count}")

The total amount of null and NaN values in the column is role                     0
name_brand               2
industry_code            1
industry_name            1
report_number            1
consumer_age         67878
consumer_age_unit    67878
consumer_gender       9311
date_created             1
date_started         64519
outcomes                 1
reactions                2
dtype: int64

In [68]:
#Create new dataframe for products that resulted in Cancer
cancer_count = food_df['reactions'].str.contains('cancer').sum()
print(cancer_count)
cancer_df = food_df[food_df['reactions'].str.contains('cancer')]
cancer_df.head()

39029

,role,name_brand,industry_code,industry_name,report_number,consumer_age,consumer_age_unit,consumer_gender,date_created,date_started,outcomes,reactions
363,SUSPECT,EXEMPTION 4,53,Cosmetics,2017-CFS-000630,47.0,year(s),Female,20171006,20120627.0,['Other Serious or Important Medical Event'],['Ovarian cancer stage II']
364,SUSPECT,EXEMPTION 4,53,Cosmetics,2017-CFS-000630,47.0,year(s),Female,20171006,20120627.0,['Other Serious or Important Medical Event'],['Ovarian cancer stage II']
365,SUSPECT,EXEMPTION 4,53,Cosmetics,2017-CFS-000926,NaN,NaN,Female,20171013,NaN,['Other Serious or Important Medical Event'],['Ovarian cancer']
371,SUSPECT,EXEMPTION 4,53,Cosmetics,2017-CFS-000196,52.0,year(s),Female,20170921,20141001.0,['Other Serious or Important Medical Event'],"['Ascites', 'Chest pain', 'Dyspnoea', 'Metasta..."
372,SUSPECT,EXEMPTION 4,53,Cosmetics,2017-CFS-000196,52.0,year(s),Female,20170921,20141001.0,['Other Serious or Important Medical Event'],"['Ascites', 'Chest pain', 'Dyspnoea', 'Metasta..."

In [95]:
cancer_count_total = food_df['reactions'].str.contains('cancer').sum()
print(cancer_count_total)

39029

In [79]:
name_brand = food_df['name_brand']
industry_name = food_df['industry_name'] 
consumer_gender = food_df['consumer_gender'] 
consumer_age = food_df['consumer_age'] 
reactions = food_df['reactions'] 
outcomes = food_df['outcomes'] 


# Create a DataFrame
female_cancer_newTable = pd.DataFrame({
            "Product Name": name_brand,
            "Industry Type": industry_name,
            "Gender": consumer_gender,
            "age": consumer_age,
            "Reactions": reactions,
            "Outcome": outcomes,})

female_cancer_newTable.head()

#formatting
#female_cancer_newTable["Product Name"] = female_cancer_newTable["Product Name"].map()

,Product Name,Industry Type,Gender,age,Reactions,Outcome
0,ORE IDA GOLDEN CRINKLES FRENCH FRIES,Vegetables/Vegetable Products,Male,4.0,"['ABDOMINAL PAIN', 'CHILLS', 'DEFAECATION URGE...",['Visited a Health Care Provider']
1,TYSON FAMILY CHICKEN NUGGETS,"Meat, Meat Products and Poultry",Male,4.0,"['ABDOMINAL PAIN', 'CHILLS', 'DEFAECATION URGE...",['Visited a Health Care Provider']
2,TYSON BUFFALO STYLE CHICKEN BREAST STRIPS,"Meat, Meat Products and Poultry",Male,4.0,"['ABDOMINAL PAIN', 'CHILLS', 'DEFAECATION URGE...",['Visited a Health Care Provider']
3,CENTRUM SILVER MULTIVITAMIN MULTIMINERAL SUPPL...,Vit/Min/Prot/Unconv Diet(Human/Animal),NaN,NaN,['CEREBROVASCULAR ACCIDENT'],"['Other Serious or Important Medical Event', '..."
4,VITAMIN WORLD TRIPLE STRENGTH JOINT SOOTHER,Vit/Min/Prot/Unconv Diet(Human/Animal),Female,44.0,"['DYSPNOEA', 'FACE OEDEMA', 'HYPERSENSITIVITY'...","['Other Serious or Important Medical Event', '..."

In [162]:
#Donut Table
#
#DataFrame columns in to varibles
name_brand = food_df['name_brand']
industry_name = food_df['industry_name'] 
consumer_gender = food_df['consumer_gender'] 
consumer_age = food_df['consumer_age'] 
reactions = food_df['reactions'] 
outcomes = food_df['outcomes'] 
Year = food_df['Year']

# Create a donut table dataframe
donut_Table = pd.DataFrame({
            "Industry Name": industry_name,
            "Reactions": reactions,
            "Age": consumer_age,
            "Year": Year,})

donut_df = donut_Table.sort_values('Year', ascending=True)
donut_df.head()

,Industry Name,Reactions,Age,Year
55541,Vit/Min/Prot/Unconv Diet(Human/Animal),"['Blood pressure increased', 'Dizziness', 'Fat...",69.0,1923
55544,Vit/Min/Prot/Unconv Diet(Human/Animal),"['Blood pressure increased', 'Dizziness', 'Fat...",69.0,1923
55543,Vit/Min/Prot/Unconv Diet(Human/Animal),"['Blood pressure increased', 'Dizziness', 'Fat...",69.0,1923
55542,Vit/Min/Prot/Unconv Diet(Human/Animal),"['Blood pressure increased', 'Dizziness', 'Fat...",69.0,1923
55540,Bakery Prod/Dough/Mix/Icing,"['Blood pressure increased', 'Dizziness', 'Fat...",69.0,1923

In [159]:
donut_df.to_csv('Donut Table.csv', index=False)

In [154]:
# Split Packed Bubble Chart
#
#DataFrame columns in to varibles
name_brand = food_df['name_brand']
industry_name = food_df['industry_name'] 
consumer_gender = food_df['consumer_gender'] 
consumer_age = food_df['consumer_age'] 
reactions = food_df['reactions'] 
outcomes = food_df['outcomes'] 
Year = food_df['Year']

# Create a donut table dataframe
split_reaction_Table = pd.DataFrame({
            "Industry Name": industry_name,
            "Product Name": name_brand,
            "Reaction": reactions,
            "Year": Year,})

# Assuming 'df' is your DataFrame and 'year' is the column you want to sort by
split_df = split_reaction_Table.sort_values('Year', ascending=False)

split_df.head()

,Industry Name,Product Name,Reaction,Year
91992,Milk/Butter/Dried Milk Prod,AXELROD FAT FREE BLUEBERRY YOGURT,['NAUSEA'],nan
92632,Cosmetics,EXEMPTION 4,"['Death', 'Ovarian cancer']",nan
92678,Vit/Min/Prot/Unconv Diet(Human/Animal),SWANSON BEST WEIGHT-CONTROL FORMULAS GLUCOMANNAN+,['Headache'],nan
92677,Cosmetics,Lip Blam,"['Lip swelling', 'Paraesthesia', 'Swollen tong...",nan
92676,Cosmetics,BURTS BEES LIP BALM,"['Lip swelling', 'Paraesthesia', 'Swollen tong...",nan

In [175]:
# DataFrame columns into variables
name_brand = food_df['name_brand']
industry_name = food_df['industry_name'] 
consumer_gender = food_df['consumer_gender'] 
consumer_age = food_df['consumer_age'] 
reactions = food_df['reactions'] 
outcomes = food_df['outcomes'] 
Year = food_df['Year']

# Create a new DataFrame
death_reaction_Table = pd.DataFrame({
            "Reaction": reactions,
            "Year": Year,})

# Sort the DataFrame by 'Year' in descending order
death_df = death_reaction_Table.sort_values('Year', ascending=False)



# Count the number of occurrences of 'death' in the 'Reactions' column
death_count = death_reaction_Table['Reaction'].str.contains('death').sum()

print(death_count)
death_df.head()

159

                                                Reaction Year
91992                                         ['NAUSEA']  nan
92632                        ['Death', 'Ovarian cancer']  nan
92678                                       ['Headache']  nan
92677  ['Lip swelling', 'Paraesthesia', 'Swollen tong...  nan
92676  ['Lip swelling', 'Paraesthesia', 'Swollen tong...  nan

In [184]:
# Filter rows that contain the string 'death' in the 'Reactions' column
death_df = death_df[death_df['Reaction'].str.contains('death')]
death_count = death_df.count()
print(death_count)
death_df.head()

Reaction    159
Year        159
dtype: int64

                                                 Reaction Year
98468   ['Apparent death', 'General physical health de...  nan
82817   ['Brain oedema', 'Cardiomegaly', 'Cell death',...  nan
107825           ['Abortion spontaneous', 'Foetal death']  nan
115201          ['Apparent death', 'Choking', 'Dyspnoea']  nan
115217      ['Exposure during pregnancy', 'Foetal death']  nan

In [185]:
#Create CSV for Death dataFrame
death_df.to_csv('Death Reaction Table.csv', index=False)

In [190]:
# DataFrame columns into variables
name_brand = food_df['name_brand']
industry_name = food_df['industry_name'] 
consumer_gender = food_df['consumer_gender'] 
consumer_age = food_df['consumer_age'] 
reactions = food_df['reactions'] 
outcomes = food_df['outcomes'] 
Year = food_df['Year']

# Create a new DataFrame
hospital_reaction_Table = pd.DataFrame({
            "Outcomes": outcomes,
            "Year": Year,})

# Sort the DataFrame by 'Year' in descending order
hospital_df = hospital_reaction_Table.sort_values('Year', ascending=False)



# Count the number of occurrences of 'Hospitialization' in the 'Reactions' column
hospital_count = hospital_reaction_Table['Outcomes'].str.contains('Hospitalization').sum()

print(hospital_count)
hospital_df.head()

35980

                                                Outcomes Year
91992                                  ['Other Outcome']  nan
92632                                          ['Death']  nan
92678  ['Other Serious or Important Medical Event', '...  nan
92677                 ['Visited a Health Care Provider']  nan
92676                 ['Visited a Health Care Provider']  nan

In [191]:
# Filter rows that contain the string 'death' in the 'Reactions' column
hospital_df = hospital_df[hospital_df['Outcomes'].str.contains('Hospitalization')]
hospital_count = hospital_df.count()
print(hospital_count)
hospital_df.head()

Outcomes    35980
Year        35980
dtype: int64

                                                 Outcomes Year
92648   ['Hospitalization', 'Visited Emergency Room', ...  nan
92647        ['Hospitalization', 'Other Serious Outcome']  nan
194944                                ['Hospitalization']  nan
194945                                ['Hospitalization']  nan
92725        ['Hospitalization', 'Other Serious Outcome']  nan

In [192]:
#Create CSV for Death dataFrame
hospital_df.to_csv('Hospitalization Outcomes Table.csv', index=False)

In [125]:
# Convert the 'age' column to float
#donut_Table['age'] = donut_Table['age'].astype(float)

# Count the number of NaN values in the 'age' column
foods_affected = donut_Table['age'].isna().sum()

# Print the DataFrame
print(foods_affected)

67877

In [91]:
name_brand = food_df['name_brand']
industry_name = food_df['industry_name'] 
consumer_gender = food_df['consumer_gender'] 
consumer_age = food_df['consumer_age'] 
reactions = food_df['reactions'] 
outcomes = food_df['outcomes'] 


# Create a DataFrame
male_cancer_newtable = pd.DataFrame({
            "Product Name": name_brand,
            "Industry Type": industry_name,
            "Gender": consumer_gender,
            "age": consumer_age,
            "Reactions": reactions,
            "Outcome": outcomes,})

male_cancer_newtable.head()

,Product Name,Industry Type,Gender,age,Reactions,Outcome
0,ORE IDA GOLDEN CRINKLES FRENCH FRIES,Vegetables/Vegetable Products,Male,4.0,"['ABDOMINAL PAIN', 'CHILLS', 'DEFAECATION URGE...",['Visited a Health Care Provider']
1,TYSON FAMILY CHICKEN NUGGETS,"Meat, Meat Products and Poultry",Male,4.0,"['ABDOMINAL PAIN', 'CHILLS', 'DEFAECATION URGE...",['Visited a Health Care Provider']
2,TYSON BUFFALO STYLE CHICKEN BREAST STRIPS,"Meat, Meat Products and Poultry",Male,4.0,"['ABDOMINAL PAIN', 'CHILLS', 'DEFAECATION URGE...",['Visited a Health Care Provider']
3,CENTRUM SILVER MULTIVITAMIN MULTIMINERAL SUPPL...,Vit/Min/Prot/Unconv Diet(Human/Animal),NaN,NaN,['CEREBROVASCULAR ACCIDENT'],"['Other Serious or Important Medical Event', '..."
4,VITAMIN WORLD TRIPLE STRENGTH JOINT SOOTHER,Vit/Min/Prot/Unconv Diet(Human/Animal),Female,44.0,"['DYSPNOEA', 'FACE OEDEMA', 'HYPERSENSITIVITY'...","['Other Serious or Important Medical Event', '..."

In [ ]:
cancer_table = total_cancer_newTable[(female_cancer_newTable['Reactions'].str.contains('cancer'))]

In [84]:
#Create new dataframe for products that resulted in Cancer
female_cancer_table = female_cancer_newTable[(female_cancer_newTable['Gender'] == 'Female') & (female_cancer_newTable['Reactions'].str.contains('cancer'))]
#death_df = food_df[food_df['reactions'].str.contains('death')]
#female_cancer_df = food_df[food_df['reactions'].str.contains('cancer')]
female_cancer_table.head()

,Product Name,Industry Type,Gender,age,Reactions,Outcome
363,EXEMPTION 4,Cosmetics,Female,47.0,['Ovarian cancer stage II'],['Other Serious or Important Medical Event']
364,EXEMPTION 4,Cosmetics,Female,47.0,['Ovarian cancer stage II'],['Other Serious or Important Medical Event']
365,EXEMPTION 4,Cosmetics,Female,NaN,['Ovarian cancer'],['Other Serious or Important Medical Event']
371,EXEMPTION 4,Cosmetics,Female,52.0,"['Ascites', 'Chest pain', 'Dyspnoea', 'Metasta...",['Other Serious or Important Medical Event']
372,EXEMPTION 4,Cosmetics,Female,52.0,"['Ascites', 'Chest pain', 'Dyspnoea', 'Metasta...",['Other Serious or Important Medical Event']
...,...,...,...,...,...,...
692,EXEMPTION 4,Cosmetics,Female,49.0,['Ovarian cancer'],['Other Serious or Important Medical Event']
698,EXEMPTION 4,Cosmetics,Female,50.0,"['Death', 'Ovarian cancer']","['Death', 'Other Serious or Important Medical ..."
699,EXEMPTION 4,Cosmetics,Female,50.0,"['Death', 'Ovarian cancer']","['Death', 'Other Serious or Important Medical ..."
704,EXEMPTION 4,Cosmetics,Female,41.0,['Ovarian cancer'],['Other Serious or Important Medical Event']
705,EXEMPTION 4,Cosmetics,Female,41.0,['Ovarian cancer'],['Other Serious or Important Medical Event']

In [112]:
#Create new dataframe for products that resulted in death
female_death_table = female_cancer_newTable[(female_cancer_newTable['Reactions'].str.contains('death'))]
#death_df = food_df[food_df['reactions'].str.contains('death')]
#female_cancer_df = food_df[food_df['reactions'].str.contains('cancer')]
female_death_table.head()

,Product Name,Industry Type,Gender,age,Reactions,Outcome
2598,SCHIFF MOVE FREE ADVANCE TRIPLE STRENGTH TOTAL...,Vit/Min/Prot/Unconv Diet(Human/Animal),Female,NaN,"['Abdominal discomfort', 'Abdominal distension...","['Hospitalization', 'Other Serious or Importan..."
6900,KRATOM,Vit/Min/Prot/Unconv Diet(Human/Animal),Female,34.0,"['Accidental death', 'Atelectasis', 'Cardiac h...",['Death']
13973,BENEFIBER WITH WHEAT DEXTRIN (NCH) (WHEAT DEXT...,Vit/Min/Prot/Unconv Diet(Human/Animal),Female,63.0,"['Apparent death', 'Contrast media reaction', ...","['Life Threatening', 'Other Serious or Importa..."
13974,GAS-X EXTSTR CHEW TABS PEPPERMINT CREME (NCH) ...,Vit/Min/Prot/Unconv Diet(Human/Animal),Female,63.0,"['Apparent death', 'Contrast media reaction', ...","['Life Threatening', 'Other Serious or Importa..."
15334,ALIVE NATURES WAY PRODUCTS,Vit/Min/Prot/Unconv Diet(Human/Animal),Female,27.0,"['Amnesia', 'Apparent death', 'Brain hypoxia',...","['Life Threatening', 'Hospitalization', 'Requi..."

In [92]:
male_cancer_table = male_cancer_newtable[(male_cancer_newtable['Gender'] == 'Male') & (male_cancer_newtable['Reactions'].str.contains('cancer'))]
#death_df = food_df[food_df['reactions'].str.contains('death')]
#female_cancer_df = food_df[food_df['reactions'].str.contains('cancer')]
male_cancer_table.head(100)

,Product Name,Industry Type,Gender,age,Reactions,Outcome
570,PURITAN'S PRIDE SAW PALMETTO,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,68.0,['Prostate cancer'],['Hospitalization']
1997,EXEMPTION 4,Cosmetics,Male,NaN,['Ovarian cancer'],['Other Serious or Important Medical Event']
1998,EXEMPTION 4,Cosmetics,Male,NaN,['Ovarian cancer'],['Other Serious or Important Medical Event']
2691,PRESERVISION LUTEIN,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,89.0,"['Blindness', 'Macular degeneration', 'Throat ...",['Other Serious or Important Medical Event']
3131,NATURE'S ORIGIN PROSTA PRIME SAW PALMETTO COMPLEX,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,73.0,"['Micturition urgency', 'Prostate cancer']","['Hospitalization', 'Other Serious or Importan..."
...,...,...,...,...,...,...
73874,Zinc,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,65.0,['Rectal cancer'],['Other Serious Outcome']
73875,Vitamin E,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,65.0,['Rectal cancer'],['Other Serious Outcome']
73876,Vitamin D,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,65.0,['Rectal cancer'],['Other Serious Outcome']
73877,Vitamin B-12,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,65.0,['Rectal cancer'],['Other Serious Outcome']
73878,Vitamin A,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,65.0,['Rectal cancer'],['Other Serious Outcome']

In [110]:
male_death_table = male_cancer_newtable[(male_cancer_newtable['Gender'] == 'Male') & (male_cancer_newtable['Reactions'].str.contains('death'))]
#death_df = food_df[food_df['reactions'].str.contains('death')]
#female_cancer_df = food_df[food_df['reactions'].str.contains('cancer')]
male_death_table.head(100)

,Product Name,Industry Type,Gender,age,Reactions,Outcome
706,KRATOM,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,20.0,"['Alopecia', 'Apparent death', 'Drug dependenc...","['Life Threatening', 'Hospitalization', 'Visit..."
4278,ONE A DAY MEN'S HEALTH,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,NaN,"['Apparent death', 'Foreign body']",['Other Serious or Important Medical Event']
6222,Calcium,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,NaN,"['Asthenia', 'Cognitive disorder', 'Cough', 'C...","['Death', 'Hospitalization', 'Disability', 'Vi..."
6223,LIMBREL 500/50,"Medical Foods, N.E.C.",Male,NaN,"['Asthenia', 'Cognitive disorder', 'Cough', 'C...","['Death', 'Hospitalization', 'Disability', 'Vi..."
6224,Vitamin E 400,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,NaN,"['Asthenia', 'Cognitive disorder', 'Cough', 'C...","['Death', 'Hospitalization', 'Disability', 'Vi..."
...,...,...,...,...,...,...
181859,KRATOM,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,35.0,"['Accidental death', 'Atelectasis', 'Brain oed...",['Death']
182639,KRATOM,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,37.0,"['Accidental death', 'Cardiomegaly', 'Circulat...",['Death']
183611,KRATOM,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,24.0,"['Accidental death', 'Death', 'Drug screen pos...",['Death']
184622,CALCIUM MAGNESIUM (ASPARTATE COMPLEX) M INERAL...,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,NaN,"['Apparent death', 'Choking', 'Foreign body']","['Life Threatening', 'Hospitalization']"
206404,KRATOM,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,50.0,"['Accidental death', 'Death', 'Toxicity to var...",['Death']

In [87]:
female_cancer_table.to_csv('Female Cancer Table.csv', index=False)
female_cancer_table.head()

,Product Name,Industry Type,Gender,age,Reactions,Outcome
363,EXEMPTION 4,Cosmetics,Female,47.0,['Ovarian cancer stage II'],['Other Serious or Important Medical Event']
364,EXEMPTION 4,Cosmetics,Female,47.0,['Ovarian cancer stage II'],['Other Serious or Important Medical Event']
365,EXEMPTION 4,Cosmetics,Female,NaN,['Ovarian cancer'],['Other Serious or Important Medical Event']
371,EXEMPTION 4,Cosmetics,Female,52.0,"['Ascites', 'Chest pain', 'Dyspnoea', 'Metasta...",['Other Serious or Important Medical Event']
372,EXEMPTION 4,Cosmetics,Female,52.0,"['Ascites', 'Chest pain', 'Dyspnoea', 'Metasta...",['Other Serious or Important Medical Event']

In [103]:
# Average age of Females with Caner
average_age_female = female_cancer_table["age"].mean()
print(average_age_female)

53.950574554867046

In [160]:
male_cancer_table.to_csv('Male Cancer Table.csv', index=False)
male_cancer_table.head(5)

,Product Name,Industry Type,Gender,age,Reactions,Outcome
570,PURITAN'S PRIDE SAW PALMETTO,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,68.0,['Prostate cancer'],['Hospitalization']
1997,EXEMPTION 4,Cosmetics,Male,NaN,['Ovarian cancer'],['Other Serious or Important Medical Event']
1998,EXEMPTION 4,Cosmetics,Male,NaN,['Ovarian cancer'],['Other Serious or Important Medical Event']
2691,PRESERVISION LUTEIN,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,89.0,"['Blindness', 'Macular degeneration', 'Throat ...",['Other Serious or Important Medical Event']
3131,NATURE'S ORIGIN PROSTA PRIME SAW PALMETTO COMPLEX,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,73.0,"['Micturition urgency', 'Prostate cancer']","['Hospitalization', 'Other Serious or Importan..."

In [102]:
# Average age for Male with Cancer
average_age_male = male_cancer_table["age"].mean()
print(average_age_male)

71.37287234042553

In [116]:
#Create new dataframe for products that resulted in Death
#death_count = male_cancer_newtable['Reactions'].str.contains('death').sum()
#print(death_count)
death_df = male_death_table[male_death_table['Reactions'].str.contains('death')]
average_age_Death_male = male_death_table["age"].mean()
print(average_age_Death_male)
death_df.head(20)

34.87755102040816

,Product Name,Industry Type,Gender,age,Reactions,Outcome
706,KRATOM,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,20.0,"['Alopecia', 'Apparent death', 'Drug dependenc...","['Life Threatening', 'Hospitalization', 'Visit..."
4278,ONE A DAY MEN'S HEALTH,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,NaN,"['Apparent death', 'Foreign body']",['Other Serious or Important Medical Event']
6222,Calcium,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,NaN,"['Asthenia', 'Cognitive disorder', 'Cough', 'C...","['Death', 'Hospitalization', 'Disability', 'Vi..."
6223,LIMBREL 500/50,"Medical Foods, N.E.C.",Male,NaN,"['Asthenia', 'Cognitive disorder', 'Cough', 'C...","['Death', 'Hospitalization', 'Disability', 'Vi..."
6224,Vitamin E 400,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,NaN,"['Asthenia', 'Cognitive disorder', 'Cough', 'C...","['Death', 'Hospitalization', 'Disability', 'Vi..."
6225,Vitamin C,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,NaN,"['Asthenia', 'Cognitive disorder', 'Cough', 'C...","['Death', 'Hospitalization', 'Disability', 'Vi..."
6226,Super B,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,NaN,"['Asthenia', 'Cognitive disorder', 'Cough', 'C...","['Death', 'Hospitalization', 'Disability', 'Vi..."
6227,Probiotic,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,NaN,"['Asthenia', 'Cognitive disorder', 'Cough', 'C...","['Death', 'Hospitalization', 'Disability', 'Vi..."
6228,Multi vit,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,NaN,"['Asthenia', 'Cognitive disorder', 'Cough', 'C...","['Death', 'Hospitalization', 'Disability', 'Vi..."
6229,Magnesium,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,NaN,"['Asthenia', 'Cognitive disorder', 'Cough', 'C...","['Death', 'Hospitalization', 'Disability', 'Vi..."
6230,Folic acid,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,NaN,"['Asthenia', 'Cognitive disorder', 'Cough', 'C...","['Death', 'Hospitalization', 'Disability', 'Vi..."
6898,KRATOM,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,32.0,"['Accidental death', 'Atelectasis', 'Brain oed...",['Death']
7414,KRATOM,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,23.0,"['Accidental death', 'Death', 'Toxicity to var...",['Death']
14560,KRATOM,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,47.0,"['Accidental death', 'Death', 'Toxicity to var...",['Death']
20364,KRATOM,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,60.0,"['Accidental death', 'Death', 'Toxicity to var...",['Death']
23187,JAC3D,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,NaN,['Apparent death'],['Life Threatening']
33821,ROYAL KRATOM,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,22.0,"['Accidental death', 'Death', 'Toxicity to var...",['Death']
48065,KRATOM,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,32.0,"['Accidental death', 'Arrhythmia', 'Arterioscl...",['Death']
52145,GNC TOTAL LEAN CLA,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,NaN,['Apparent death'],"['Hospitalization', 'Visited a Health Care Pro..."
52146,HYDROXYCUT HARDCORE ELITE,Vit/Min/Prot/Unconv Diet(Human/Animal),Male,NaN,['Apparent death'],"['Hospitalization', 'Visited a Health Care Pro..."

In [114]:
death_df = female_death_table[female_death_table['Reactions'].str.contains('death')]
average_age_Death_female = female_death_table["age"].mean()
print(average_age_Death_female)
death_df.head()

62.71377358490566

,Product Name,Industry Type,Gender,age,Reactions,Outcome
2598,SCHIFF MOVE FREE ADVANCE TRIPLE STRENGTH TOTAL...,Vit/Min/Prot/Unconv Diet(Human/Animal),Female,NaN,"['Abdominal discomfort', 'Abdominal distension...","['Hospitalization', 'Other Serious or Importan..."
6900,KRATOM,Vit/Min/Prot/Unconv Diet(Human/Animal),Female,34.0,"['Accidental death', 'Atelectasis', 'Cardiac h...",['Death']
13973,BENEFIBER WITH WHEAT DEXTRIN (NCH) (WHEAT DEXT...,Vit/Min/Prot/Unconv Diet(Human/Animal),Female,63.0,"['Apparent death', 'Contrast media reaction', ...","['Life Threatening', 'Other Serious or Importa..."
13974,GAS-X EXTSTR CHEW TABS PEPPERMINT CREME (NCH) ...,Vit/Min/Prot/Unconv Diet(Human/Animal),Female,63.0,"['Apparent death', 'Contrast media reaction', ...","['Life Threatening', 'Other Serious or Importa..."
15334,ALIVE NATURES WAY PRODUCTS,Vit/Min/Prot/Unconv Diet(Human/Animal),Female,27.0,"['Amnesia', 'Apparent death', 'Brain hypoxia',...","['Life Threatening', 'Hospitalization', 'Requi..."